<div class="w3-container">
  <h2>ABOUT :</h2>
  <br>
  <div class="w3-panel w3-black">
    <h3><u>WEBSTROM :</u></h3>
    <p>Professional IDE (Integrated Development Environment) for Web developers.
      WebStorm helps you to easily create Web sites by letting you edit HTML, CSS and JavaScript, navigate through files easily and
      use auto completion for everything in your code.</p>
  </div>
  <br>
  <div class="w3-panel w3-white">
    <h3><u>W3.CSS :</u></h3>
    <p>W3.CSS is a Cascading Style Sheet (CSS) developed by w3schools.com. It helps in creating faster, beautiful, and responsive websites.
      It is inspired from Google Material Design.</p>
  </div>
  <br>
  <div class="w3-panel w3-black">
    <h3><u>ANGULAR2 :</u></h3>
    <p> Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency injection,
      end to end tooling, and integrated best practices to solve development challenges. Angular empowers developers to build applications
      that live on the web, mobile, ..</p>
  </div>
  <br>
  <div class="w3-panel w3-white">
    <h3><u>HTML & CSS:</u></h3>
    <p><b>HTML</b>, HyperText Markup Language, gives content structure and meaning by defining that content as, for example, headings, paragraphs, or images.
      <b>CSS, or Cascading Style Sheets</b>, is a presentation language created to style the appearance of content—using, for example, fonts or colors.</p>
  </div>
</div>
