<div class="ert">
  <details>
    <summary> NAME :</summary>
    <p> Dhinesh.E</p>
  </details>
  <br>
  <br>
  <details>
    <summary> D.O.B :</summary>
    <p> 19 Mar 1995</p>
  </details>
  <br>
  <br>
  <details>
    <summary> Sex :</summary>
    <p> Male </p>
  </details>
  <br>
  <br>
  <details>
    <summary> Age :</summary>
    <p> 24 </p>
  </details>
  <br>
  <br>
  <details>
    <summary> Course Completed :</summary>
    <p> B.E computer science</p>
  </details>
  <br>
  <br>
  <details>
    <summary> languages known :</summary>
    <p> Tamil , English</p>
  </details>
  <br>
  <br>
  <details>
    <summary> E-mail :</summary>
    <p> Dhineshcse98@gmail.com</p>
  </details>
  <br>
  <br>
  <details>
    <summary> Home-Town :</summary>
    <p> namakkal</p>
  </details>
  <br>
  <br>
  <details>
    <summary> Pincode</summary>
    <p> 637001</p>
  </details>
  <br>
  <br>
</div>
