<div>
  <div>

    <img src="../images/21.jpg" height="500" width="500"/>
    <div class="w3-dropdown-hover">
      <button class="w3-button"><h2>Name</h2></button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-black">
        <a class="w3-bar-item w3-button">Elangovan.a</a></div>
      </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button"><h2>Age</h2></button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-black">
        <a class="w3-bar-item w3-button">50</a></div>
    </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button"><h2>Work</h2></button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-black">
        <a class="w3-bar-item w3-button">Technician</a></div>
    </div>
  </div>
  <br>
  <br>
  <div>

    <img src="../images/22.jpg" height="500" width="500"/>
    <div class="w3-dropdown-hover">
      <button class="w3-button"><h2>Name</h2></button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-black">
        <a class="w3-bar-item w3-button">Banu.E</a></div>
    </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button"><h2>Age</h2></button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-black">
        <a class="w3-bar-item w3-button">43</a></div>
    </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button"><h2>Work</h2></button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-black">
        <a class="w3-bar-item w3-button">Home maker</a></div>
    </div>
  </div>
  <br>
  <br>
  <div>

    <img src="../images/23.jpg" height="500" width="500"/>
    <div class="w3-dropdown-hover">
      <button class="w3-button"><h2>Name</h2></button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-black">
        <a class="w3-bar-item w3-button">Dhinesh.E</a></div>
    </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button"><h2>Age</h2></button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-black">
        <a class="w3-bar-item w3-button">24</a></div>
    </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button"><h2>Work</h2></button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-black">
        <a class="w3-bar-item w3-button">searching..</a></div>
    </div>
  </div>
</div>
